* {
  font-family: "Google Sans", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav > ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  padding: 0;
  height: 50px;
  display: flex;
}

nav > ul > li {
  display: flex;
  align-items: center;
}

nav {
  background-color: #f0f0f0;
  padding: 10px 20px;
  margin-bottom: 20px;
}

h1 {
  margin: 20px;
}

.review-scores {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.about > p {
  margin: 20px;
}

.review-scores > p {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
}

nav > ul > li > a {
  text-decoration: none;
  color: black;
}

.listings {
  display: flex;
  flex-wrap: wrap;
}

.listing {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 30%;
  margin: 1%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  box-sizing: border-box;
  border-radius: 10px;
}

.listing-picture {
  width: 100%;
  height: 300px;
  object-fit: contain;
  background-color: gainsboro;
  border: 2px solid lightgray;
  border-radius: 10px;
}

.host-picture {
  width: 50px;
  border-radius: 25px;
}

.amenities {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 10px;
}

.amenities > h2 {
  font-size: 20px;
  margin-bottom: 10px;
  padding-left: 5px;
}

.amenities > div {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.amenity {
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 12px;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.host {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #f8f8f8;
  margin-top: 20px;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 20px 0;
}

.pagination-controls button {
  height: 50px;
  width: 50px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  border-radius: 100%;
}
